/* ================= GLOBAL ================= */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}

/* ================= LAYOUT ================= */

.layout {
  display: flex;
  gap: 80px; /* more space between sidebar and feed */
  padding-left: 250px; /* Space for sidebar */
  padding-top: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

/* add additional margin to feed for spacing against sidebar */
.feed {
  margin-left: 40px;
}

/* ================= SIDEBAR ================= */

.sidebar {
  width: 230px;
  height: 100vh;
  background: white;
  padding: 30px 20px;
  border-right: 1px solid #e6e6e6;

  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  color: #1da1f2;
  margin-bottom: 30px;
}

.menu p {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.menu p:hover {
  background-color: #e6f2ff;
}

/* ================= FEED ================= */

.feed {
  width: 500px;
}

/* Feed Header */

.feed-header {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* ================= POST INPUT ================= */

.post-input {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.post-input input {
  width: 70%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

/* ================= BUTTON ================= */

button {
  background-color: #1da1f2;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #0d8de0;
}

/* Delete Button Override */
button[style] {
  background-color: red !important;
}

/* ================= POST CARD ================= */

.post-box {
  background: white;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}